// out: $1.css


.vertical-rl
	writing-mode: vertical-rl
	-webkit-writing-mode: vertical-rl
	-ms-writing-mode: vertical-rl

body
	padding-top: 70px

.vote-section
	width: 100%
	padding: 20px 40px
	max-width :400px
	margin: 0 auto
	// cursor url("../img/vote-cursor.png"), auto

.vote-stamp
	display: none

.table td, .table th
	vertical-align: middle

tr
	text-align: center

td:first-of-type
	text-align: center
	font-size: 1rem
	padding: 15px 7px
	width: 1.3rem

.disagree span
	letter-spacing: 2px

.v-option
	white-space: nowrap
	font-size: 1.5rem

.v-num
	font-size: 2.5rem
	color: #E00C88


// .vote-wrapper
// 	.r1, .r3
// 		height 10vh
// 		min-height 70px
// 	.r2
// 		height 20vh
// 		min-height 120px
// 	.r4
// 		height calc(40vh - 70px)
// 		min-height 120px
// 	.vote-col div
// 		border 1px solid
// 	.c1
// 		margin-right 20px
// 		> div
// 			text-align center
// 			font-size 12px
// 			// width 30px
// 			padding 15px 7px
// 			writing-mode vertical-lr
